<div class="row clearfix">
  <% if todo_item.completed? %>
    <div class="todo_item_row">
      <div class="todo_item">
        <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
      </div>
      <div class="todo_list_operation">
      <p>
        <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "secondary_button"%>
      </p>
      <p>
        <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: "secondary_button" %>
      </p>
      </div>
    </div>
  <% else %>
    <div class="todo_item_row">
      <div class="todo_item">
        <p><%= todo_item.content %></p>
      </div>
      <div class = "todo_list_operation">
      <p>
        <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "secondary_button"%>
      </p>
      <p>
        <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: "secondary_button" %>
      </p>
      </div>
    </div>
  <% end %>
</div>
