<p id="notice"><%= notice %></p>
<h1 class="header">Todo Lists</h1>
<div class="todo_list">
  <% @todo_lists.each do |todo_list| %>
    <div class="todo_list_container">
      <div>
          <p><%= todo_list.title %></p>
      </div>
      <div class="todo_list_operation">
      <p><%= link_to 'Show', todo_list, class: "secondary_button" %></p>
      <p><%= link_to 'Edit', edit_todo_list_path(todo_list), class: "secondary_button" %></p>
      <p><%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "secondary_button" %></p>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'New Todo List', new_todo_list_path, class: "primary_button" %>
